.chess-board {
  display: grid;
  grid-template-columns: repeat(8, 80px); /* 8 columns */
  grid-template-rows: repeat(8, 80px);    /* 8 rows */
  border: 3px solid #333;
  margin: 20px auto;
}

.square {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.light {
  background-color: #f0d9b5;
}

.dark {
  background-color: #b58863;
}


