.chess-board {
  display: grid;
  grid-template-columns: repeat(8, 80px); /* 8 columns */
  grid-template-rows: repeat(8, 80px);    /* 8 rows */
  border: 3px solid #333;
  margin: 20px auto;
}

.square {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.light {
  background-color: #f0d9b5;
}

.dark {
  background-color: #b58863;
}


.square.selected {
  /* outline: 3px solid rgb(54, 241, 234); */
  background-color: rgba(0, 234, 255, 0.753); 
}

.square img.piece-img {
  position: relative;
  z-index: 2;
  pointer-events: none;
}

.selected {
  
}

.move-square {
  background-color: rgba(0, 200, 255, 0.4) !important;
  
}

.capture-square {
  background-color: rgba(255, 0, 0, 0.35) !important;
  
}

.piece-img {
  position: relative;
  z-index: 2;
  pointer-events: none;
}